<!doctype html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
<title>TV Shows</title>

</head>
<body>
<label for="cityvalue">Choose a City:</label>

<select name="cityname" id="city_id">
<option value='--'>--</option>
{% for city in cities %}
    <option value='{{city}}'>{{city}}</option>
  {% endfor %}
</select> &nbsp; &nbsp;<button onclick="myFunction()">Get Data</button>&nbsp; &nbsp;
<button onclick="showAllData()">Show Full Data</button>
<div id="alldata">
<div class="page">
  <h1>TV Shows</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>
</div>
<div id="selecteddata">
</div>
    <script>
        const cities = JSON.parse({{cities}});
        console.log(cities);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
